
#body {
    background-color: black;

}

.container {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    align-items: center;
    margin: 5rem;
}
.textChoice{
    color: whitesmoke;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6rem;
}

.choice {
    height: 15rem;
    flex-grow: 1;
    border-radius: 50px;
    transition: 200ms;
}

.choice:hover {
    transform: scale(1.1);
}

button {
    background-color: black;
    border-style: none;
}
